<!doctype html>
<html lang="es">
    <head>
       <meta charset="UFT-8">
       <title>Materias</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>
    <body>
        
        <div id="conteiner-body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre de la materia</th>
                        <th>Grado y Grupo</th>
                        <th>Salon</th>
                        <th>Hora de entrada</th>
                        <th>Hora de salida</th>
                            
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Español</td>
                        <td>1A</td>
                        <td>2</td>
                        <td>9:00</td>
                        <td>13:00</td>
                    </tr>
                </thead>
                
            </table>
            
        </div>
        
    </body>
    
</html>